<div class="row">
  <div class="col-md-12">
    <h4 class="pull-left">Employee Dashboard</h4>
    <button class="btn btn-primary btn-sm pull-right" ng-click="dash.editEmployee()">
            <i class="fa fa-user-plus"></i>
            Add Employee
        </button>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Job Title</th>
          <th>Gender</th>
          <th>Tenure</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="employee in $ctrl.data">
          <td>{{employee.name}}</td>
          <td>{{employee.jobTitle}}</td>
          <td>
            <span class="fa fa-male text-primary" ng-if="employee.gender === 'Male'"></span>
            <span class="fa fa-male text-danger" ng-if="employee.gender === 'Female'"></span>
          </td>
          <td>{{employee.tenure}}</td>
          <td>
            <a href="#" ng-click="$ctrl.edit(employee)">
              <i class="fa fa-edit"></i>
            </a> &nbsp;
            <a href="#" ng-click="$ctrl.delete(employee)">
              <i class="fa fa-trash"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div ui-grid="dash.gridOptions"></div>
  </div>
</div>
<div class="row top-buffer">
  <div class="col-md-6">
    <hc-chart options="dash.chartEmployeesByJobTitle"></hc-chart>
  </div>
  <div class="col-md-6">
    <hc-chart options="dash.chartEmployeesByGender"></hc-chart>
  </div>
</div>
